{# templates/emails/registration.html.twig #}
<h3>Vous vous êtes bien Inscript sur l'application!</h3>

Hi {{ name }}! Validation de votre compte Ujob.

{# example, assuming you have a route named "login" #}
To login, go to: <a href="{{ url('login') }}">...</a>.

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo.png')) }}">
