{# templates/emails/registration.html.twig #}
<h3>Validation de votre compte Ujob!</h3>

Hi {{ name }}! You're successfully registered.

{# example, assuming you have a route named "login" #}
<p>Username:{{ url(user.username) }}</p>.


